body {
  display: grid;
  grid-template-rows: 3em auto 2em;
}

body > header {
  padding: 1em;
  display: flex;
  place-items: center;
  background-color: #0a0a0a;
  color: white;
}

#form-new-message {
  display: grid;
  grid-template-columns: auto 2em;
}

div.message {
  padding: 0.4em 1em;
  margin: 0.4em;
  border-radius: 0.4em;
}

div.message.in {
  background-color: rgb(225, 225, 225);
  margin-right: 2em;
}

div.message.out {
  margin-left: 2em;
  background-color:#0a0a0a;
  color: white;
}