@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
  font-family: 'Kufam', cursive;
  text-decoration: none;
  color: inherit;
}

html, body {
  width: 100vw;
  height: 100vh;
}